@model AnnouncementsForum.Models.Category
@{
    ViewData["Title"] = "Category";
}

<h1>Admin Panel</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            @Html.Partial("~/Views/Shared/_AdminPanelNavBar.cshtml")
        </div>
        <div class="col">
            <div class="row">
                <form asp-controller="Category" asp-action="Create">
                    <div class="row">
                        <div class="col">
                            <select class="form-select" aria-label="Default select example" asp-for="Parent">
                                <option selected value="">Nowa kategoria</option>
                                @foreach (var category in ViewData["CategoriesNotSorted"] as IEnumerable<AnnouncementsForum.Models.Category>)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            <input asp-for="Name" type="text" class="form-control" placeholder="Nazwa" aria-label="Nazwa">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                @Html.Partial("~/Views/Shared/CategoryPanel.cshtml", ViewData["Categories"])
            </div>
        </div>
    </div>
</div>
