
@{
    ViewData["Title"] = "View";
}

<h1>Admin Panel</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            @Html.Partial("~/Views/Shared/_AdminPanelNavBar.cshtml")
        </div>
        <div class="col">
            asdasdasd
        </div>
    </div>
</div>

