
<ul class="nav flex-column nav-underline">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Admin" asp-action="Category">Kategorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="HtmlTags">Dozwolone znaczniki HTML</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="ReportedAnnoucments">Zgłoszone ogłoszenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="ForbiddenWords">Słowa zakazane</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="AdminAnnoucments">Wiadomości na stronie głównej</a>
    </li>
</ul>